<%= form_for @outfit do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true, :required => true %>
</p>

<br>

<p>
  <%= f.label :description %>
  <%= f.text_field :description %>
</p>

<br>

<p>
  <%= f.label :image %>
  <%= f.text_field :image, :required => true %>
</p>

<br>
  <%#= f.label :tag %>
  <%#= f.text_field :tag %>
  <%= f.submit %>
</p>

<% end %>

<div class="photo">
  <p>
    <% if @outfit.image %>
      <%= image_tag @outfit.image %>
    <% end %>
  </p>
</div>