<div class="new"> 
  <h1> LOG IN </h1>
  <% if (flash) %>
    <%= flash["notice"] %>
  <% end %>

  <%= form_tag '/login' do %>
    <p>
      <%= label_tag 'username' %>
      <%= text_field_tag 'username' %>
    </p>

    <p>
     <%= label_tag 'password' %> 
     <%= password_field_tag 'password' %>
    </p>

    <p>
      <%= submit_tag 'Login' %>
    </p>
    <% end %>
</div>




<!-- this is creating a new session for user. 
new users create account, and logs in again to be authenticated with session.

create users -> routed home -> log in with user params in db(created in new users) -> login complete -> stores username and password params for session id -> each time logged in, a unique session id is created. 
-->